###############################################################################
# Ignore these directories
###############################################################################

coverage/
dist/
node_modules/
postgres/

###############################################################################
# Ignore these files
###############################################################################

.*
*.log

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.eslintrc.js
!.gitignore
!.nvmrc
!.prettierrc
!.vscode
!.yarnrc.yml
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
