###############################################################################
# Ignore these directories
###############################################################################

coverage/
dist/
node_modules/

###############################################################################
# Ignore these files
###############################################################################

.*

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.eslintrc.js
!.gitignore
!.nvmrc
!.prettierrc
!.vscode
